<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd" default-lazy-init="true">


    <description>MVC configuration custom</description>

    <mvc:annotation-driven validator="globalValidator" content-negotiation-manager="contentNegotiationManager"
                           conversion-service="defaultConversionService" enable-matrix-variables="true"
                           ignore-default-model-on-redirect="true"
                           message-codes-resolver="defaultMessageCodesResolver"/>

    <bean id="globalValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
    </bean>

    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManager">
    </bean>

    <bean id="defaultConversionService" class="org.springframework.core.convert.support.DefaultConversionService">
    </bean>

    <bean id="defaultMessageCodesResolver" class="org.springframework.validation.DefaultMessageCodesResolver"/>

    <mvc:resources mapping="/**" location="/static" cache-period="10" order="0"/>

    <mvc:default-servlet-handler default-servlet-name="defaultHandler"/>

    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="http://domain1.com, http://domain2.com" allow-credentials="true"
                     allowed-headers="" allowed-methods="POST" max-age="1000" exposed-headers=""/>
    </mvc:cors>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/"/>
            <ref bean="globalValidator"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:interceptors>
        <ref bean="servletContext"/>
    </mvc:interceptors>

    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">

    </bean>

</beans>

