<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="ImmediateFlush" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%-5p]%F:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="business" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/logs/lotus-web-debug/business.log"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="30"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%t - [%d{yyyy-MM-dd HH:mm:ss}][%-5p]%F:%L - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="trace"/>
            <param name="LevelMax" value="info"/>
        </filter>
    </appender>

    <logger name="psn.lotus.web.controller" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- 输出mybatis日志 -->
    <!--<logger name="org.mybatis" additivity="true">
        <level value="debug"/>
    </logger>
    <logger name="java.sql.Connection" additivity="true">
        <level value="debug"/>
    </logger>
    <logger name="java.sql.Statement" additivity="true">
        <level value="debug"/>
    </logger>
    <logger name="java.sql.PreparedStatement" additivity="true">
        <level value="debug"/>
    </logger>
    <logger name="java.sql.ResultSet" additivity="true">
        <level value="debug"/>
    </logger>-->
    <!-- 输出mybatis日志 配置完成 -->

    <root>
        <priority value="info"/>
        <appender-ref ref="console"/>
        <appender-ref ref="business"/>
    </root>

</log4j:configuration>
