<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/props/datasource.properties</value>
                <value>classpath:/props/shiro.properties</value>
                <value>classpath:/props/redis.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="psn.lotus.web">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="configSource" class="org.springframework.web.cors.UrlBasedCorsConfigurationSource">

    </bean>

    <bean id="delegatingFilter" class="org.springframework.web.filter.CorsFilter">
        <constructor-arg name="configSource" ref="configSource"/>
    </bean>

    <import resource="/spring/spring-datasource.xml"/>
    <import resource="/spring/spring-shiro.xml"/>
    <import resource="/spring/spring-jedis.xml"/>

</beans>